:root {
  --color-primary: #000;
  --color-secondary: #fff;

  --color-bg-primary: #d6d6d6;
  --color-bg-secondary: #fff;

  --color-btn-bg: #ebebeb;
  --color-btn-border: #000;

  --color-header-bg: #f09087;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-bg-primary);
}
